<tr>
    <td><img src="{{albumImage}}" alt="{{album}}"></td></td>
    <td>{{title}}</td>
    <td>{{artist}}</td>
    <td>{{album}}</td>
    <td>{{label}}</td>
    <td>{{releaseDate}}</td>
    <td>{{genre}}</td>
    <td>{{length}}</td>
</tr>

